*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    height: 100%;
}

header{
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    z-index: 3;
    padding: 20px;
    border-bottom: 2px solid #ccc;
}

header img,
header h3{
    display: inline-block;
}

header img{
    margin-right: 30px;
    width: 60px;
}

header h3{
    font-size: 23px;
    line-height: 45px;
}

header .user{
    float: right;
    padding-right: 20px;
}

header .user span{
    padding: 0 8px;
}

@media screen and (max-width: 630px){
    header .user{
        float: none;
        position: absolute;
        top: 54px;
        right: 10px;
        margin-top: 10px;
        padding-right: 0;
    }
}

@media screen and (max-width: 390px){
    header h3{
        font-size: 20px;
        line-height: 45px;
    }

    header img{
        margin-right: 15px;
        width: 40px;
    }
}


/* ############################################ */


.content-painel{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.content-painel aside{
    position: fixed;
    height: 90%;
    width: 17%;
    margin-top: 80px;
    background-color: #24282D;
    transition: left 0.5s ease;
    overflow-y: scroll;
}

.content-painel aside nav{
    margin-top: 30px;
}

.content-painel .box-content-painel{
    width: 83%;
    margin-left: 17%;
    margin-top: 110px;
    padding-bottom: 30px;
}

.content-painel aside li{
    width: 100%;
    color: #ebebeb;
    padding: 15px 10px;
    position: relative;
    cursor: pointer;
    font-weight: 500;
}

.content-painel aside li a{
    font-size: 15px !important;
    text-decoration: none;
    color: #ebebeb;
}

.content-painel aside li a span{
    font-size: 20px;
    padding: 0 8px;
}

.content-painel aside li > i{
    position: absolute;
    right: -1px;
    top: 18px;
    font-size: 30px;
    color: #ffffff;
    display: none;
}

.btn-menu-mobile{
    position: fixed;
    transition: 0.5s ease;
    padding: 2px 3px 0 0;
    background-color: #05012c;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    top: 102px;
    display: inline-block;
    z-index: 3;
    height: 47px;
}

.hamburger {
    cursor: pointer;
  }
  
  .hamburger input {
    display: none;
  }
  
  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  

@media screen and (min-width: 1106px){
    .btn-menu-mobile{
        display: none;
    }

    .content-painel aside{
        position: fixed;
        height: 90%;
        width: 17%;
        margin-top: 80px;
        background-color: #24282D;
        transition: left 0.5s ease;
        overflow-y: scroll;
        z-index: 0;
    }
}

@media screen and (max-width: 1105px){

    .content-painel aside{
        top: 22px;
        width: 220px;
        z-index: 2;
        height: 100%;
        padding-bottom: 10px;
        left: -220px;
    }

    .content-painel .box-content-painel{
        display: block !important;
        margin-top: 140px !important;
        width:100%;
        margin: 110px 2% 0 2%;
    }

    .content-painel aside li a{
        font-size: 18px !important;
    }
    
}



/* ####################################################33 */




.container-site{
    width: 100%;
    max-width: 1280px;
}

section.vagas-cadastradas .container-site{
    padding: 0 2%;
}


.vagas-cadastradas .box-vagas{
    width: 100%;
}

.box-vagas .vaga-single{
    border: 2px dashed #363636;
}

.vaga-single h5{
    font-size: 16px;
    font-weight: bold;
    margin-top: 14px;
}

.vaga-single h5 > span{
    font-weight: 400;
    color: #585858;
    margin-left: 10px;
}

.vaga-single button{
    border: 0;
    background-color: #CC6223;
    margin-bottom: 5px;
    border-radius: 8px;
    padding: 4px 8px;
    color: #ffffff;
    cursor: pointer;
}

.vaga-single a{
    text-decoration: none;
    background-color: #CC6223;
    margin-bottom: 5px;
    border-radius: 8px;
    padding: 5px 8px;
    color: #ffffff;
}

.vaga-single .deletar-vaga{
    background-color: transparent;
    color: #2196F3;
    margin-left: 25px;
}

.vaga-single button i{
    font-size: 28px;
}


.janela-float{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
}

.float-box{
    background-color: #ffffff;
    width: 100%;
    max-width: 300px;
    height: 150px;
    padding: 10px;
    margin-top: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.float-box h4{
    font-weight: 500;
    letter-spacing: 0.7px;
}

.float-box button, .float-box a{
    margin-top: 20px;
    margin-left: 20%;
    padding: 8px;
    font-size: 15px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}

a#btn-excluir{
    background-color: #fd9e9e;
    text-decoration: none;
    color: #000;
}

.btn-cancelar{
    background-color: #f9ea60;
}


.vagas-cadastradas .btn-aprovar{
    text-decoration: none;
    margin-left: 10px;
    background-color: #5cf556;
    color: #2e2e2e;
    padding: 4px 6px;
    border-radius: 6px;
    font-weight: 600;
}

.vagas-cadastradas .btn-aprovar:hover{
    background-color: #1b395c;
    color: #ffffff;
}

/* Button ativar ou desativar filtro-vagas */

.checkbox-wrapper-35 .switch {
    display: none;
}

.checkbox-wrapper-35 .switch + label {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #78768d;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-wrapper-35 .switch + label::before,
.checkbox-wrapper-35 .switch + label::after {
    content: '';
    display: block;
}

.checkbox-wrapper-35 .switch + label::before {
    background-color: #05012c;
    border-radius: 500px;
    height: 20px;
    margin-right: 8px;
    -webkit-transition: background-color 0.125s ease-out;
    transition: background-color 0.125s ease-out;
    width: 35px;
}

.checkbox-wrapper-35 .switch + label::after {
    background-color: #fff;
    border-radius: 13px;
    box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05), 0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
    height: 18px;
    left: 1px;
    position: absolute;
    top: 1px;
    -webkit-transition: -webkit-transform 0.125s ease-out;
    transition: -webkit-transform 0.125s ease-out;
    transition: transform 0.125s ease-out;
    transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
    width: 18px;
}

.checkbox-wrapper-35 .switch + label .switch-x-text {
    display: block;
    margin-right: .3em;
}

.checkbox-wrapper-35 .switch + label .switch-x-toggletext {
    display: block;
    font-weight: bold;
    height: 15px;
    overflow: hidden;
    position: relative;
    width: 35px;
}

.checkbox-wrapper-35 .switch + label .switch-x-unchecked,
.checkbox-wrapper-35 .switch + label .switch-x-checked {
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
}

.checkbox-wrapper-35 .switch + label .switch-x-unchecked {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

.checkbox-wrapper-35 .switch + label .switch-x-checked {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.checkbox-wrapper-35 .switch + label .switch-x-hiddenlabel {
    position: absolute;
    visibility: hidden;
}

.checkbox-wrapper-35 .switch:checked + label::before {
    background-color: #ffb500;
}

.checkbox-wrapper-35 .switch:checked + label::after {
    -webkit-transform: translate3d(14px, 0, 0);
    transform: translate3d(14px, 0, 0);
}

.checkbox-wrapper-35 .switch:checked + label .switch-x-unchecked {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.checkbox-wrapper-35 .switch:checked + label .switch-x-checked {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
  


/* ############################################################# */
.box-cadastrar-apoiador{
    margin: 0 auto;
}

.box-cadastrar-apoiador,
.box-cadastrar-vaga{
    padding: 0 3% 40px 3%;
}

.box-cadastrar-apoiador form label,
.box-cadastrar-vaga form label{
    display: block;
    font-weight: 500;
}

.box-cadastrar-apoiador form label span,
.box-cadastrar-vaga form label span{
    font-size: 14px;
    color: #7c7c7c;
}

.box-cadastrar-apoiador form input,
.box-cadastrar-vaga form input{
    padding: 4px 8px;
    width: 100%;
    max-width: 500px;
}

.box-cadastrar-vaga form #btn-adicionar-categoria{
    position: relative;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.box-cadastrar-vaga form .categorias{
    display: none;
    position: absolute;
    width: 100%;
    max-width: 250px;
    background-color: #ccc;
    height: 100%;
    max-height: 320px;
    padding: 10px;
    overflow: scroll;
    left: 17%;
    top: 50%;
}

.box-cadastrar-vaga .box-categorias-add{
    display: inline-block;
}

.box-categorias-add span{
    font-size: 14px;
    padding: 4px 6px;
    margin-left: 5px;
    background-color: #e3e3e3;
    line-height: 30px;
    border-radius: 10px;
    font-weight: 500;
}

/* Customize the label (the container) */
.container-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    
  }
  
  /* Hide the browser's default checkbox */
  .container-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #858585;
  }
  
/* On mouse-over, add background color */
.container-label:hover{
    background-color: #ffffff;
}

.container-label:hover input ~ .checkmark {
background-color: #24282D;
}

/* When the checkbox is checked, add a blue background */
.container-label input:checked ~ .checkmark {
background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.container-label input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.container-label .checkmark:after {
left: 9px;
top: 5px;
width: 5px;
height: 10px;
border: solid #0D1B2B;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}


.box-cadastrar-vaga .custom-select{
    max-width: 230px;
    font-weight: 500;
}

.box-cadastrar-vaga textarea{
    width: 100%;
    max-width: 570px;
    padding: 15px;
    height: 200px;
    resize:none;
}

.box-cadastrar-vaga textarea::-webkit-scrollbar{
    width: 16px;
}

.box-cadastrar-vaga textarea::-webkit-scrollbar-track {
    background: #ffffff;        /* color of the tracking area */
  }
  
  .box-cadastrar-vaga textarea::-webkit-scrollbar-thumb {
    background-color: #1b395c;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #1b395c;  /* creates padding around scroll thumb */
  }


.box-cadastrar-vaga .input-group{
    max-width: 400px;
}

#cadastrar_vaga,
#cadastrar_apoiador{
    margin-top: 30px;
    display: inline-block;
    padding: 5px 10px;
    background-color: #0D1B2B;
    color: #ffffff;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

/* ----------------------------------- */

.dot-spinner {
    --uib-size: 40px;
    --uib-speed: .9s;
    --uib-color: #183153;
    position: relative;
    left: 10px;
    top: 12px;
    /* display: inline-block; */
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
    display: none;
  }
  
  .dot-spinner__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }
  
  .dot-spinner__dot::before {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
    opacity: 0.5;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
  }
  
  .dot-spinner__dot:nth-child(2) {
    transform: rotate(45deg);
  }
  
  .dot-spinner__dot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.875);
  }
  
  .dot-spinner__dot:nth-child(3) {
    transform: rotate(90deg);
  }
  
  .dot-spinner__dot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.75);
  }
  
  .dot-spinner__dot:nth-child(4) {
    transform: rotate(135deg);
  }
  
  .dot-spinner__dot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.625);
  }
  
  .dot-spinner__dot:nth-child(5) {
    transform: rotate(180deg);
  }
  
  .dot-spinner__dot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
  }
  
  .dot-spinner__dot:nth-child(6) {
    transform: rotate(225deg);
  }
  
  .dot-spinner__dot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.375);
  }
  
  .dot-spinner__dot:nth-child(7) {
    transform: rotate(270deg);
  }
  
  .dot-spinner__dot:nth-child(7)::before {
    animation-delay: calc(var(--uib-speed) * -0.25);
  }
  
  .dot-spinner__dot:nth-child(8) {
    transform: rotate(315deg);
  }
  
  .dot-spinner__dot:nth-child(8)::before {
    animation-delay: calc(var(--uib-speed) * -0.125);
  }
  
  @keyframes pulse0112 {
    0%,
    100% {
      transform: scale(0);
      opacity: 0.5;
    }
  
    50% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  
  /* ----------------------------------- */


/* ############################################# */

section.usuarios{
    width: 100%;
    max-width: 1280px;
    padding: 0 2%;
}


.usuarios .btn-adicionar-usuario{
    margin-left: 8%;
    padding: 4px 6px;
    border: none;
    background-color: #cacaca;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
}

.usuarios .tabela-usuarios{
    margin: 20px auto;
    width: 97%;
    min-width: 600px;
    max-width: 1100px;
    border: 2px solid #000;
}

.usuario-head{
    display: flex;
    border: 2px solid #000;
    align-items: center;
    border-left: none;
    border-right: none;
}

.usuario-head .box-buttons-usuario{
    display: none;
}

.usuario-body{
    display: flex;
    border: 1px solid #000;
    align-items: center;
    border-left: none;
    border-right: none;
    border-top: none;
}

.usuario-head h6{
    font-weight: bold;
}

.usuario-body h6{
    font-size: 14px;
}

.usuario-head .usuario-nome, 
.usuario-body .usuario-nome{
    width: 26%;
    padding: 8px;
    height: 100%;
}

.usuario-head .usuario-email,
.usuario-body .usuario-email{
    width: 34%;
    padding: 8px;
}

.box-buttons-usuario{
    width: 40%;
}

@media screen and (max-width: 830px){

    .usuario-head .usuario-email,
.usuario-body .usuario-email{
    width: 44%;
}

    .box-buttons-usuario{
        width: 30%;
    }
}

.box-buttons-usuario a{
    text-decoration: none;
}

.btn-ver-vagas-usuario{
    color: #eeeeee;
    background-color: #1b395c;
    padding: 4px 5px;
    border-radius: 6px;
}

.btn-remover-usuario{
    margin-left: 10px;
    background-color: #ff8b8b;
    color: #0D1B2B;
    border: none;
    padding: 3px 5px;
    border-radius: 6px;
    cursor: pointer;
}





section.apoiadores .adicionar-apoiador{
    display: inline-block;
    margin-top: 30px;
    margin-left: 10%;
    text-decoration: none;
    background-color: #c8c8c8;
    color: #000;
    padding: 3px 6px;
    border-radius: 6px;
    font-weight: 500;
}

section.apoiadores .table-apoiadores{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.table-apoiadores .apoiadores-head{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    align-items: center;
    height: 50px;
    padding: 0 10px;
}

.apoiadores-head h6,
.apoiadores-body h6{
    padding: 0px 8px 0px 8px;
}

.apoiadores-head h6{
    font-size: 16px;
    font-weight: bold;
}

.apoiadores-body h6{
    font-size: 14px;
}

.apoiadores-head .remover-apoiador{
    display: none;
}

.apoiadores-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px dotted #000;
    height: 50px;
    padding: 0 10px;
}

.apoiadores-body a{
    text-decoration: none;
    font-weight: 500;
    background-color: #ff8b8b;
    color: #0D1B2B;
    padding: 3px 6px;
    border-radius: 6px;
}

.planos{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.plano-single{
    width: 25%;
    border: 2px solid #1b395c;
    padding: 5px;
    cursor: pointer;
    position: relative;
}

.plano-single input{
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.plano-single label{
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

#btn_pagamento{
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    display: inline-block;
    padding: 5px 10px;
    background-color: #02c70c;
    color: #ffffff;
    font-size: 18px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}

.realize-pagamento{
    display: block;
    text-align: center;
    margin-top: 15px;
}




section.dados-pessoais{
    padding: 0 3%;
}

.dados-pessoais h6{
    color: #303030;
}

.dados-pessoais a{
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 6px;
    padding: 3px 10px;
    display: inline-block;
}

.dados-pessoais .resetar-senha{
    background-color: #cacaca;
    color: #000;
    font-weight: 500;
}

.dados-pessoais .ver-minhas-vagas{
    background-color: #0D1B2B;
    color: #e5e5e5;
}

/* ############################## */

@media screen and (max-width: 591px){
    .btn_cadastrar_cargo{
        margin-top: 15px;
    }
}