<%- include('partials-admin/header.html') %>

<div class="container-site">
    <h5 class="mt-3 text-center">Cadastrar vaga:</h5>
    <div class="box-cadastrar-vaga mt-4">
        <form id="form-vaga" enctype="multipart/form-data" method="post">
            <label for="titulo_vaga">Cargo da vaga ou empresa/estabelecimento empregador(a):</label>
            <input type="text" name="titulo_vaga" placeholder="Digite aqui...">

            <label class="mt-5" for="categoria_adicionada">Categoria(s): <span>(Se necessário marque mais de uma)</span></label>
            <button type="button" id="btn-adicionar-categoria"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar</button>

            <div class="box-categorias-add"></div>
            
            <div class="categorias">
                <label class="container-label">Vendedor
                    <input type="checkbox" name="checks" value="Vendedor">
                    <span class="checkmark"></span>
                </label>
                  
				<label class="container-label">Recepcionista
				<input type="checkbox" name="checks" value="Recepcionista">
				<span class="checkmark"></span>
				</label>
                  
				<label class="container-label">Soldador
				<input type="checkbox" name="checks" value="Soldador">
				<span class="checkmark"></span>
				</label>
				
				<label class="container-label">Atendente
				<input type="checkbox" name="checks" value="Atendente">
				<span class="checkmark"></span>
				</label>
                  
            </div><!--categorias -->

            <!-- <input type="text" name="categoria_vaga" id="categoria_vaga" value=""> -->

            <label class="mt-5" for="select_experiencia">Experiência requerida: <span>(opcional)</span></label>
            <select class="custom-select" id="experiencia_vaga" name="experiencia_vaga">
                <option selected value="Com experiencia">Com experiência</option>
                <option value="Com ou sem experiencia">Com ou sem experiência</option>
                <option value="Sem experiencia">Sem experiência</option>
              </select>

            <label class="mt-5" for="descricao_vaga">Descrição da vaga: <span>(opcional)</span></label>
            <textarea id="descricao_vaga" name="descricao_vaga" placeholder="Digite aqui..."></textarea>

            <label class="mt-5" for="arquivo_vaga">Imagem de divulgação: <span>(obrigatório)</span></label>
        
            <input type="file" name="arquivo_vaga" id="arquivo_vaga" onchange="previewImage(this)" required style="display: block;">

            <input type="hidden" name="imagem_recortada" id="imagem_recortada" value="">
    
            <div id="preview" style="display: none;"></div>

            <div id="cadastrar_vaga">Cadastrar Vaga</div>
        </form>
    </div><!-- box-cadastrar-vaga -->
</div><!-- container-site -->

<%- include('partials-admin/footer.html') %>