<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Empregos PB</title>
    <link rel="shortcut icon" type="image/x-icon" href="/public/images/img-logo-icon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="google-site-verification" content="NOxF1xN1MyqpeIeY-gi2qR5LTYjTDy8Ct4H4UM_Y4Jw" />
    <meta name="description" content="Site focado na divulgação de vagas de emprego no estado da Paraíba. Escolha sua cidade e encontre a vaga desejada!" />
    <meta name="author" content="André Negreiros, Bruna Rodrigues" />
    <meta name="keywords" content="paraiba, emprego, vaga, vaga de emprego, vaga na paraiba, campina grande, joao pessoa, patos, guarabira, souza" />
    <link rel="stylesheet" href="../public/slick/slick.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container-site row">
            <div class="logo col-md-3">
                <p>Empregos PB</p>
            </div><!-- logo -->
    
            <nav class="menu-desktop col-md-9 text-right" style="display: none;">
                <ul>
                    <li><a href="#inicio">Início</a></li>
                    <li><a href="#vagas">Vagas</a></li>
                    <li><a href="/admin/login">Anunciar Vaga (painel)</a></li>
                    <li><a href="#contato">Contato</a></li>
                    <li><a href="#quem-somos">Quem Somos</a></li>
                </ul>
            </nav><!-- menu-desktop -->

            <label class="icon-menu-mobile" for="burger" style="display: none;">
                <span>Menu</span>
                <label class="buttons__burger ml-2" for="burger">
                    <input type="checkbox" id="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>                
            </label><!-- icon-menu-mobile -->

            <nav class="menu-mobile">
                <ul>
                    <li><a href="#inicio">Início</a></li>
                    <li><a href="#vagas">Vagas</a></li>
                    <li><a href="/admin/login">Anunciar Vaga (painel)</a></li>
                    <li><a href="#contato">Contato</a></li>
                    <li><a href="#quem-somos">Quem Somos</a></li>
                </ul>
            </nav><!-- menu-mobile -->
            <div style="clear: both;"></div>
        </div><!-- container-site -->
    </header>

    <section id="inicio" class="apresentacao">
        <div class="container-site d-md-flex">
            <div class="frase-apresentacao">
                <h1>Conectando candidatos a emprego e empregadores na Paraíba</h1>
                <p>Empregos PB é uma plataforma de busca de emprego projetada para ajudá-lo a 
                    encontrar a vaga que procura. Com nosso mecanismo que permite busca e visualização
                    dessas vagas, conectamos quem procura emprego com os principais empregadores de toda Paraíba.
                </p>
            </div><!-- frase-apresentacao -->

            <div class="img-apresentacao">
                <img src="/public/images/img_aperto_de_maos.jpg">
            </div><!-- imagem-apresentacao -->

            <img class="logo-site ml-4" src="/public/images/img-logo.png">
        </div><!-- container site -->
        
    </section><!-- apresentacao -->

    <section id="vagas" class="vagas pt-5 pb-4">
        <div class="container-site">
            <h3 class="text-center pl-2 pr-2">Confira as vagas mais recentes disponíveis:</h3>

            <div class="row mt-5">
                <div class="filtro-tipo-vaga col-lg-4 text-left">
                    <p>Filtrar por cargo:</p>
                    <select id="filtro-cargo" name="filtroCargo">
                        <option>Geral</option>
                    <% for(let i=0; i < cargos.length; i++) {%>
                        <option><%= cargos[i].cargo%></option>
                    <% } %>
                    </select>
                </div><!-- filtro-tipo-vaga -->

                <div class="filtro-tipo-vaga col-lg-4 text-left">
                    <p>Filtrar por cidade:</p>
                    <select id="filtro-cidade" name="filtroCidade">
                        <option value="Escolher..." selected>Escolher...</option>
                        <option value="Água Branca">Água Branca</option>
                        <option value="Aguiar">Aguiar</option>
                        <option value="Alagoa Grande">Alagoa Grande</option>
                        <option value="Alagoa Nova">Alagoa Nova</option>
                        <option value="Alagoinha">Alagoinha</option>
                        <option value="Alcantil">Alcantil</option>
                        <option value="Algodão de Jandaíra">Algodão de Jandaíra</option>
                        <option value="Alhandra">Alhandra</option>
                        <option value="Amparo">Amparo</option>
                        <option value="Aparecida">Aparecida</option>
                        <option value="Araçagi">Araçagi</option>
                        <option value="Arara">Arara</option>
                        <option value="Araruna">Araruna</option>
                        <option value="Areia">Areia</option>
                        <option value="Areia de Baraúnas">Areia de Baraúnas</option>
                        <option value="Areial">Areial</option>
                        <option value="Aroeiras">Aroeiras</option>
                        <option value="Assunção">Assunção</option>
                        <option value="Baía da Traição">Baía da Traição</option>
                        <option value="Bananeiras">Bananeiras</option>
                        <option value="Baraúna">Baraúna</option>
                        <option value="Barra de Santa Rosa">Barra de Santa Rosa</option>
                        <option value="Barra de Santana">Barra de Santana</option>
                        <option value="Barra de São Miguel">Barra de São Miguel</option>
                        <option value="Bayeux">Bayeux</option>
                        <option value="Belém">Belém</option>
                        <option value="Belém do Brejo do Cruz">Belém do Brejo do Cruz</option>
                        <option value="Bernardino Batista">Bernardino Batista</option>
                        <option value="Boa Ventura">Boa Ventura</option>
                        <option value="Boa Vista">Boa Vista</option>
                        <option value="Bom Jesus">Bom Jesus</option>
                        <option value="Bom Sucesso">Bom Sucesso</option>
                        <option value="Bonito de Santa Fé">Bonito de Santa Fé</option>
                        <option value="Boqueirão">Boqueirão</option>
                        <option value="Borborema">Borborema</option>
                        <option value="Brejo do Cruz">Brejo do Cruz</option>
                        <option value="Brejo dos Santos">Brejo dos Santos</option>
                        <option value="Caaporã">Caaporã</option>
                        <option value="Cabaceiras">Cabaceiras</option>
                        <option value="Cabedelo">Cabedelo</option>
                        <option value="Cachoeira dos Índios">Cachoeira dos Índios</option>
                        <option value="Cacimba de Areia">Cacimba de Areia</option>
                        <option value="Cacimba de Dentro">Cacimba de Dentro</option>
                        <option value="Cacimbas">Cacimbas</option>
                        <option value="Caiçara">Caiçara</option>
                        <option value="Cajazeiras">Cajazeiras</option>
                        <option value="Cajazeirinhas">Cajazeirinhas</option>
                        <option value="Caldas Brandão">Caldas Brandão</option>
                        <option value="Camalaú">Camalaú</option>
                        <option value="Campina Grande">Campina Grande</option>
                        <option value="Capim">Capim</option>
                        <option value="Caraúbas">Caraúbas</option>
                        <option value="Carrapateira">Carrapateira</option>
                        <option value="Casserengue">Casserengue</option>
                        <option value="Catingueira">Catingueira</option>
                        <option value="Catolé do Rocha">Catolé do Rocha</option>
                        <option value="Caturité">Caturité</option>
                        <option value="Conceição">Conceição</option>
                        <option value="Condado">Condado</option>
                        <option value="Conde">Conde</option>
                        <option value="Congo">Congo</option>
                        <option value="Coremas">Coremas</option>
                        <option value="Coxixola">Coxixola</option>
                        <option value="Cruz do Espírito Santo">Cruz do Espírito Santo</option>
                        <option value="Cubati">Cubati</option>
                        <option value="Cuité">Cuité</option>
                        <option value="Cuité de Mamanguape">Cuité de Mamanguape</option>
                        <option value="Cuitegi">Cuitegi</option>
                        <option value="Curral de Cima">Curral de Cima</option>
                        <option value="Curral Velho">Curral Velho</option>
                        <option value="Damião">Damião</option>
                        <option value="Desterro">Desterro</option>
                        <option value="Diamante">Diamante</option>
                        <option value="Dona Inês">Dona Inês</option>
                        <option value="Duas Estradas">Duas Estradas</option>
                        <option value="Emas">Emas</option>
                        <option value="Esperança">Esperança</option>
                        <option value="Fagundes">Fagundes</option>
                        <option value="Frei Martinho">Frei Martinho</option>
                        <option value="Gado Bravo">Gado Bravo</option>
                        <option value="Guarabira">Guarabira</option>
                        <option value="Gurinhém">Gurinhém</option>
                        <option value="Gurjão">Gurjão</option>
                        <option value="Ibiara">Ibiara</option>
                        <option value="Igaracy">Igaracy</option>
                        <option value="Imaculada">Imaculada</option>
                        <option value="Ingá">Ingá</option>
                        <option value="Itabaiana">Itabaiana</option>
                        <option value="Itaporanga">Itaporanga</option>
                        <option value="Itapororoca">Itapororoca</option>
                        <option value="Itatuba">Itatuba</option>
                        <option value="Jacaraú">Jacaraú</option>
                        <option value="Jericó">Jericó</option>
                        <option value="João Pessoa">João Pessoa</option>
                        <option value="Juarez Távora">Juarez Távora</option>
                        <option value="Juazeirinho">Juazeirinho</option>
                        <option value="Junco do Seridó">Junco do Seridó</option>
                        <option value="Juripiranga">Juripiranga</option>
                        <option value="Juru">Juru</option>
                        <option value="Lagoa">Lagoa</option>
                        <option value="Lagoa de Dentro">Lagoa de Dentro</option>
                        <option value="Lagoa Seca">Lagoa Seca</option>
                        <option value="Lastro">Lastro</option>
                        <option value="Livramento">Livramento</option>
                        <option value="Logradouro">Logradouro</option>
                        <option value="Lucena">Lucena</option>
                        <option value="Mãe d'Água">Mãe d'Água</option>
                        <option value="Malta">Malta</option>
                        <option value="Mamanguape">Mamanguape</option>
                        <option value="Manaíra">Manaíra</option>
                        <option value="Marcação">Marcação</option>
                        <option value="Mari">Mari</option>
                        <option value="Marizópolis">Marizópolis</option>
                        <option value="Massaranduba">Massaranduba</option>
                        <option value="Mataraca">Mataraca</option>
                        <option value="Matinhas">Matinhas</option>
                        <option value="Mato Grosso">Mato Grosso</option>
                        <option value="Maturéia">Maturéia</option>
                        <option value="Mogeiro">Mogeiro</option>
                        <option value="Montadas">Montadas</option>
                        <option value="Monte Horebe">Monte Horebe</option>
                        <option value="Monteiro">Monteiro</option>
                        <option value="Mulungu">Mulungu</option>
                        <option value="Natuba">Natuba</option>
                        <option value="Nazarezinho">Nazarezinho</option>
                        <option value="Nova Floresta">Nova Floresta</option>
                        <option value="Nova Olinda">Nova Olinda</option>
                        <option value="Nova Palmeira">Nova Palmeira</option>
                        <option value="Olho d'Água">Olho d'Água</option>
                        <option value="Olivedos">Olivedos</option>
                        <option value="Ouro Velho">Ouro Velho</option>
                        <option value="Parari">Parari</option>
                        <option value="Passagem">Passagem</option>
                        <option value="Patos">Patos</option>
                        <option value="Paulista">Paulista</option>
                        <option value="Pedra Branca">Pedra Branca</option>
                        <option value="Pedra Lavrada">Pedra Lavrada</option>
                        <option value="Pedras de Fogo">Pedras de Fogo</option>
                        <option value="Pedro Régis">Pedro Régis</option>
                        <option value="Piancó">Piancó</option>
                        <option value="Picuí">Picuí</option>
                        <option value="Pilar">Pilar</option>
                        <option value="Pilões">Pilões</option>
                        <option value="Pilõezinhos">Pilõezinhos</option>
                        <option value="Pirpirituba">Pirpirituba</option>
                        <option value="Pitimbu">Pitimbu</option>
                        <option value="Pocinhos">Pocinhos</option>
                        <option value="Poço Dantas">Poço Dantas</option>
                        <option value="Poço de José de Moura">Poço de José de Moura</option>
                        <option value="Pombal">Pombal</option>
                        <option value="Prata">Prata</option>
                        <option value="Princesa Isabel">Princesa Isabel</option>
                        <option value="Puxinanã">Puxinanã</option>
                        <option value="Queimadas">Queimadas</option>
                        <option value="Quixabá">Quixabá</option>
                        <option value="Remígio">Remígio</option>
                        <option value="Riachão">Riachão</option>
                        <option value="Riachão do Bacamarte">Riachão do Bacamarte</option>
                        <option value="Riachão do Poço">Riachão do Poço</option>
                        <option value="Riacho de Santo Antônio">Riacho de Santo Antônio</option>
                        <option value="Riacho dos Cavalos">Riacho dos Cavalos</option>
                        <option value="Rio Tinto">Rio Tinto</option>
                        <option value="Salgadinho">Salgadinho</option>
                        <option value="Salgado de São Félix">Salgado de São Félix</option>
                        <option value="Santa Cecília">Santa Cecília</option>
                        <option value="Santa Cruz">Santa Cruz</option>
                        <option value="Santa Helena">Santa Helena</option>
                        <option value="Santa Inês">Santa Inês</option>
                        <option value="Santa Luzia">Santa Luzia</option>
                        <option value="Santa Rita">Santa Rita</option>
                        <option value="Santa Teresinha">Santa Teresinha</option>
                        <option value="Santana de Mangueira">Santana de Mangueira</option>
                        <option value="Santana dos Garrotes">Santana dos Garrotes</option>
                        <option value="Santarém">Santarém</option>
                        <option value="Santo André">Santo André</option>
                        <option value="São Bentinho">São Bentinho</option>
                        <option value="São Bento">São Bento</option>
                        <option value="São Domingos">São Domingos</option>
                        <option value="São Domingos do Cariri">São Domingos do Cariri</option>
                        <option value="São Francisco">São Francisco</option>
                        <option value="São João do Cariri">São João do Cariri</option>
                        <option value="São João do Rio do Peixe">São João do Rio do Peixe</option>
                        <option value="São João do Tigre">São João do Tigre</option>
                        <option value="São José da Lagoa Tapada">São José da Lagoa Tapada</option>
                        <option value="São José de Caiana">São José de Caiana</option>
                        <option value="São José de Espinharas">São José de Espinharas</option>
                        <option value="São José de Piranhas">São José de Piranhas</option>
                        <option value="São José de Princesa">São José de Princesa</option>
                        <option value="São José do Bonfim">São José do Bonfim</option>
                        <option value="São José do Brejo do Cruz">São José do Brejo do Cruz</option>
                        <option value="São José do Sabugi">São José do Sabugi</option>
                        <option value="São José dos Cordeiros">São José dos Cordeiros</option>
                        <option value="São José dos Ramos">São José dos Ramos</option>
                        <option value="São Mamede">São Mamede</option>
                        <option value="São Miguel de Taipu">São Miguel de Taipu</option>
                        <option value="São Sebastião de Lagoa de Roça">São Sebastião de Lagoa de Roça</option>
                        <option value="São Sebastião do Umbuzeiro">São Sebastião do Umbuzeiro</option>
                        <option value="Sapé">Sapé</option>
                        <option value="Seridó">Seridó</option>
                        <option value="Serra Branca">Serra Branca</option>
                        <option value="Serra da Raiz">Serra da Raiz</option>
                        <option value="Serra Grande">Serra Grande</option>
                        <option value="Serra Redonda">Serra Redonda</option>
                        <option value="Serraria">Serraria</option>
                        <option value="Sertãozinho">Sertãozinho</option>
                        <option value="Sobrado">Sobrado</option>
                        <option value="Solânea">Solânea</option>
                        <option value="Soledade">Soledade</option>
                        <option value="Sossêgo">Sossêgo</option>
                        <option value="Sousa">Sousa</option>
                        <option value="Sumé">Sumé</option>
                        <option value="Tacima">Tacima</option>
                        <option value="Taperoá">Taperoá</option>
                        <option value="Tavares">Tavares</option>
                        <option value="Teixeira">Teixeira</option>
                        <option value="Tenório">Tenório</option>
                        <option value="Triunfo">Triunfo</option>
                        <option value="Uiraúna">Uiraúna</option>
                        <option value="Umbuzeiro">Umbuzeiro</option>
                        <option value="Várzea">Várzea</option>
                        <option value="Vieirópolis">Vieirópolis</option>
                        <option value="Vista Serrana">Vista Serrana</option>
                        <option value="Zabelê">Zabelê</option>
                    </select>
                </div><!-- filtro-tipo-vaga -->
    
                <div class="search-vaga col-lg-4 text-left">
                    <p class="ml-4">Buscar por título:</p>
                    <div class="form-busca">
                        <form action="/">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <input name="buscar-vaga" id="buscar-vaga" type="text" placeholder="Buscar vagas..." />
                        </form>
                    </div><!--formbusca-->
                </div><!-- search-vaga -->
            </div><!-- row -->

            <div class="text-center mt-4" style="display: block; position: relative;">
                <button type="submit" class="btn-aplicar-filtro">Aplicar filtro</button><span class="msg-atualizado">Vagas atualizadas!</span>
                <div class="dot-spinner">
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                </div>
            </div>
        </div><!-- container -->

        <div class="container-site">

            <div class="box-vagas">
                <% for(let i=0; i < vagas.length; i++) {%>
                <div class="vaga-single mt-4">
                    <h5><%=vagas[i].titulo%></h5>
                    <h6>Cidade: <%=vagas[i].cidade%></h6>
                    <h6>Nº de vagas: <%=vagas[i].quantVagas%></h6>
                    <h6>Publicada: <%= vagas[i].dataCriada %></h6>
                    <a class="btn-detalhes" href="/<%=vagas[i].slug%>">Ver detalhes</a>
                </div><!-- vaga-single -->
                <% } %>
                
            </div><!-- box-vagas -->
            <p class="msg-sem-vagas mt-3" style="color: #000; display: none;">Para esse filtro não há mais vagas disponíveis por enquanto...</p>

            <div style="display: block; width: 100%; height: 1px;"></div>

            <a id="carregar-mais" href="#">Carregar mais...</a>
            
        </div><!-- container-site -->
        
    </section><!-- vagas -->

    <section class="apoiadores">
        <div class="container">
            <div class="text-apoiadores text-left mt-3">
                <h3>Nossos apoiadores:</h3>
                <a class="el-1 btn-ser-apoiador" href="#">Quero ser apoiador</a>
            </div><!-- text-apoiadores -->

            <div class="box-apoiadores">

                <div class="apoiador-single">
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=5583991998085"><img src="../public/images/img_logo_BRSoftware.png"></a>
                </div><!-- apoiador-single -->

                <div class="apoiador-single">
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=5583991998085"><img src="../public/images/img_mostre_sua_marca.png"></a>
                </div><!-- apoiador-single -->

                <div class="apoiador-single">
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=5583991998085"><img src="../public/images/img_logo_BRSoftware.png"></a>
                </div><!-- apoiador-single -->

                <div class="apoiador-single">
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=5583991998085"><img src="../public/images/img_mostre_sua_marca.png"></a>
                </div><!-- apoiador-single -->

                <div class="apoiador-single">
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=5583991998085"><img src="../public/images/img_logo_BRSoftware.png"></a>
                </div><!-- apoiador-single -->

                <div class="apoiador-single">
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=5583991998085"><img src="../public/images/img_mostre_sua_marca.png"></a>
                </div><!-- apoiador-single -->

            </div><!-- box-apoiadores -->
            
            <a class="el-2 btn-ser-apoiador" href="https://api.whatsapp.com/send?phone=5583991998085">Quero ser apoiador</a>
            
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </div><!-- container -->
    </section><!-- apoiadores -->


    <section id="anunciar-vaga" class="anunciar-vaga">
        <div class="container">
            <h5 class="text-center mt-3">Deseja anunciar vagas? Aproveite nossa plataforma!</h5>

            <div class="d-md-flex box-content desktop">
                <div class="img-megafone d-flex"><img src="../public/images/img-megafone.png"></div>
                <div class="text">
                    <p class="paragrafo-1 mt-5">No nosso site, você pode anunciar sua vaga de emprego de forma rápida, 
                        fácil e segura. Realize apenas um cadastro caso não tenha, faça o login e terá
                        acesso ao painel administrativo para cadastrar vagas.</p>
                    <p class="mt-4 pb-3">Se você está procurando um novo talento para sua equipe, não perca tempo. 
                        Anuncie sua vaga de emprego no nosso site e receba currículos de 
                        candidatos interessados em poucas horas. Clique no botão abaixo!</p>

                    <a class="btn-anunciar" href="/admin/login">Anuncie sua vaga!</a>
                    <img src="../public/images/click.png">
                </div><!-- text -->
            </div><!-- box-content -->


            <div class="d-md-flex box-content mobile" style="display: none;">
                <div class="img-megafone d-flex"><img src="../public/images/img-megafone.png">
                    No nosso site, você pode anunciar sua vaga de emprego de forma rápida, 
                    fácil e segura. Realize apenas um cadastro caso não tenha, faça o login e terá
                    acesso ao painel administrativo para cadastrar vagas.
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Se você está procurando um novo talento para sua equipe, não perca tempo. 
                    Anuncie sua vaga de emprego no nosso site e receba currículos de 
                    candidatos interessados em poucas horas. Clique no botão abaixo!
                
                </div><!-- img-megafone-->
                <div style="clear: both;"></div>
                <div class="text">
                    <a class="btn-anunciar" href="/admin/login">Anuncie sua vaga!</a>
                    <div class="box-img-click"><img src="../public/images/click.png"></div>
                </div><!-- text -->
            </div><!-- box-content -->
        </div><!-- container -->

        <i class="fa fa-caret-down" aria-hidden="true"></i>
    </section><!-- anunciar-vaga -->

    <section class="dicas text-right mt-5">
        <div class="container d-md-flex">
            <div class="img-curriculo desktop">
                <img src="/public/images/img-curriculo.jpg">
            </div><!-- img-curriculo -->
            <div class="box-dicas text-left desktop">
                <h4 data-toggle="modal" data-target="#dicas_emprego">Dicas para conseguir seu emprego</h4>
                <p data-toggle="modal" data-target="#dicas_emprego"><span style="text-decoration: underline;">Clique aqui</span> e confira dicas valiosas para aumentar suas chances de conseguir um emprego desejado.
                    Aprenda a se destacar durante o processo seletivo e conquistar sua vaga.
                </p>
            </div><!-- box-dicas -->

            <div class="mobile" style="display: none;">
                <h4 class="mt-3 text-left">Dicas para conseguir seu emprego...</h4>
                <div class="content mt-4" data-toggle="modal" data-target="#dicas_emprego">
                    <img src="/public/images/img-curriculo.jpg">
                    <span style="text-decoration: underline;">Clique aqui</span> e confira dicas valiosas para aumentar suas chances de conseguir um emprego desejado.
                    Aprenda a se destacar durante o processo seletivo e conquistar sua vaga.</div><!-- img-mobile -->
            </div><!-- mobile -->
            <div style="clear: both;"></div>

            
            <!-- Modal -->
            <div class="modal fade" id="dicas_emprego" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="TituloModalCentralizado">Dicas para conseguir seu emprego</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-left">
                        <h5 class="mt-3">Conheça a si mesmo:</h5>
                        <p>Antes de procurar um emprego, entenda suas habilidades, interesses e valores. Isso ajudará você a encontrar um emprego que seja um bom ajuste para você.</p>


                        <h5 class="mt-5">Faça sua pesquisa:</h5>
                        <p>Antes de se candidatar a um emprego, pesquise sobre a empresa. Isso mostrará ao empregador que você está realmente interessado na vaga.</p>
                        
                        <h5 class="mt-5">Personalize seu currículo:</h5>
                        <p>Adapte seu currículo para cada vaga para a qual você se candidata. Destaque as habilidades e experiências que são mais relevantes para o trabalho.</p>


                        <h5 class="mt-5">Prepare-se para a entrevista:</h5>
                        <p>Pratique suas respostas para perguntas comuns de entrevistas e pense em perguntas para fazer ao entrevistador.</p>

                        <h5 class="mt-5">Vista-se para impressionar:</h5>
                        <p>Mesmo que a empresa tenha um código de vestimenta casual, é importante se vestir de maneira profissional para a entrevista.</p>

                        <h5 class="mt-5">Seja pontual:</h5>
                        <p>Chegar atrasado a uma entrevista ou ao trabalho pode dar a impressão de que você não é confiável.</p>

                        <h5 class="mt-5">Mantenha uma atitude positiva:</h5>
                        <p>Mesmo que a busca de emprego seja estressante, tente manter uma atitude positiva. Isso pode ajudar a melhorar suas chances de conseguir um emprego.</p>

                        <h5 class="mt-5">Continue aprendendo:</h5>
                        <p>Aprender novas habilidades pode torná-lo mais atraente para os empregadores.</p>

                        <h5 class="mt-5">Faça networking:</h5>
                        <p>Conhecer pessoas em seu campo de interesse pode abrir portas para oportunidades de emprego.</p>

                        <h5 class="mt-5">Não desista:</h5>
                        <p>A busca de emprego pode levar tempo. Não desanime se você não conseguir um emprego imediatamente. Continue se candidatando e eventualmente você encontrará a oportunidade certa.</p>

                    </div><!-- modal-body -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div><!-- modal-footer -->
                </div>
                </div>
            </div>
        </div><!-- container -->
        
    </section><!-- dicas -->
    

    <section id="contato" class="contato">
        <div class="container">
            <h4 class="text-center mt-5">Deseja ser nosso <span style="font-weight: bold;">apoiador</span>? Ou caso tenha alguma outra dúvida, entre em contato agora mesmo!</h4>
            <p class="mt-4"><i class="fa fa-whatsapp" aria-hidden="true"></i> Link Whatsapp: <a target="_blank" href="https://api.whatsapp.com/send?phone=5583991998085">Clique aqui</a></p>
            <p class="mt-4"><i class="fa fa-whatsapp" aria-hidden="true"></i> Numero: <span>(83) 99199-8085</span></p>
            <p class="mt-4"><i class="fa fa-envelope" aria-hidden="true"></i> email: <span style="font-weight: 500;">empregospbweb@gmail.com</span></p>
            <div class="social-media">
                <a target="_blank" href="https://www.instagram.com/empregos_pb_web/" class="text-instagram d-inline-block">Visite nosso instagram!</a>
                <a target="_blank" href="https://www.instagram.com/empregos_pb_web/" class="d-inline-block"><img src="../public/images/instagram.png"></a>
            </div><!-- social-media -->
            <div style="clear: both;"></div>
        </div><!-- container -->
    </section><!-- contato -->

    <section class="comentarios mt-5">
        <div class="container">
            <h4>Veja o que comentam:</h4>

            <div class="comentario-single">
                <div class="estrelas"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></div><!-- estrelas -->
                <h6>Roberto</h6>
                <p>Esse site é um diferencial para quem quer encontrar um emprego de qualidade. Tem vagas para todos os níveis, áreas e salários.</p>
            </div><!-- comentario-single -->

            <div class="comentario-single">
                <div class="estrelas"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></div><!-- estrelas -->
                <h6>Tainã Moreira</h6>
                <p>O site é maravilhoso, me ajudou a encontrar uma vaga em pouquíssimo tempo.</p>
            </div><!-- comentario-single -->

            <div class="comentario-single">
                <div class="estrelas"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></div><!-- estrelas -->
                <h6>Bruna Gonçalves</h6>
                <p>Eu recomendo esse site para quem está procurando emprego. É fácil de usar, tem muitas opções e o atendimento é ótimo.</p>
            </div><!-- comentario-single -->

            <div class="comentario-single">
                <div class="estrelas"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></div><!-- estrelas -->
                <h6>Claudio Leal</h6>
                <p>Esse site é o melhor que eu já usei para buscar emprego. Tem vagas atualizadas, filtros eficientes e dicas valiosas para se destacar no mercado.</p>
            </div><!-- comentario-single -->

        </div><!-- container -->
    </section><!-- comentarios -->


    <section id="quem-somos" class="quem-somos mt-5">
        <div class="container">
            <h4 class="text-center">Quem somos...</h4>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bem-vindo ao Empregos PB, sua principal fonte de oportunidades de emprego no estado da Paraíba. 
                Nós, da Empregos PB, estamos dedicados a fornecer a você as melhores e mais atualizadas vagas de 
                emprego disponíveis em nossa região.
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nascemos da necessidade de um espaço dedicado exclusivamente à busca de empregos na Paraíba. 
                Percebemos que as vagas de emprego para nosso estado estavam dispersas em vários sites que abrangem 
                muitos estados. Isso tornava a busca por emprego local um processo demorado e complicado. Assim, 
                decidimos criar o Empregos PB para facilitar essa busca e conectar candidatos a emprego e 
                empregadores de maneira eficiente.
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nosso site aborda vagas de emprego de maneira geral, permitindo que empregadores de todos os 
                setores divulguem suas próprias vagas. Isso significa que, seja qual for o tipo de trabalho que 
                você esteja procurando, é provável que você o encontre aqui no Empregos PB.
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Estamos constantemente trabalhando para melhorar e expandir nossos serviços. Nosso objetivo é 
                tornar a busca de emprego o mais fácil e direta possível para nossos usuários. Agradecemos por 
                escolher o Empregos PB como seu parceiro na busca por novas oportunidades de emprego.
            </p>
            <p id="btn-voltar-ao-topo" class="btn-topo">Voltar ao topo</p>
        </div><!-- container -->
    </section><!-- quem-somos -->


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-left btn-painel">
                    <a href="/admin/login">Painel administrativo de vagas</a>
                </div>
                <div class="col-sm-4 mt-5">
                    <p>Todos os direitos reservados. @2023</p>
                </div>
                <div class="col-sm-4">
                    <a class="dev-empresa" target="_blank" href="https://api.whatsapp.com/send?phone=5583991998085">Desenvolvido por <span>BR Software</span></a>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/public/slick/slick.min.js"></script>
    <script src="/public/js/sliders_apoiadores.js"></script>
    <script src="/public/js/filtro-vaga.js"></script>
    <script src="/public/js/btn-voltar-ao-topo.js"></script>
    <script src="/public/js/menu-mobile.js"></script>
    <script src="/public/js/efeito-scroll.js"></script>
    <!-- <script src="../public/js/outro-arquivo.js"></script> -->
    
</body>
</html>