<%- include('partials-admin/header.html') %>
<section class="usuarios">

<h5 class="mt-3 text-center">Painel de usuários:</h5>

<button type="button"  class="btn-adicionar-usuario" data-toggle="modal" data-target="#modal_adicionar_usuario"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar usuário com link</button>

<!-- Modal -->
<div class="modal fade" id="modal_adicionar_usuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Link gerado:  (válido por 24h, uso único)</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <p class="text-link-usuario"></p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<h6 class="mt-5 text-center">Lista de usuários permitidos para cadastrar vagas:</h6>
<div class="tabela-usuarios">
    <div class="usuario-head">
        <h6 class="usuario-nome">Nome</h6>
        <h6 class="usuario-email">E-mail</h6>
        <div class="box-buttons-usuario">
            <a href="#" class="btn-ver-vagas-usuario">Ver vagas</a>
            <button class="btn-resetar-senha">Resetar senha</button>
            <a href="#" class="btn-remover-usuario">Remover</a>
        </div><!-- box-buttons-usuarios -->
    </div><!-- usuario-head -->

    <% for(let i=0; i < usuarios.length; i++) {%>
    <div class="usuario-body">
        <h6 class="usuario-nome"><%=usuarios[i].nome%></h6>
        <h6 class="usuario-email"><%=usuarios[i].email%></h6>
        <div class="box-buttons-usuario">
            <a href="#" class="btn-ver-vagas-usuario">Ver vagas</a>
            <button class="btn-resetar-senha">Resetar senha</button>
            <a href="#" class="btn-remover-usuario">Remover</a>
        </div><!-- box-buttons-usuarios -->
    </div><!-- usuario-body -->
<% } %>

</div><!-- tabela-usuarios -->

</section><!-- ususarios -->

<%- include('partials-admin/footer.html') %>