<%- include('partials-admin/header.html') %>

            <section class="vagas-cadastradas pt-3 pb-2">

            <div class="container-site">
                <h4 class="text-center">Vagas cadatradas: <span style="font-size: 17px;"><%=vagas.length%></span></h4>
                <div class="box-vagas">

                    <% if (vagas.length > 0) { %>
                        <% for(let i=0; i < vagas.length; i++){ %>
    
                        <div class="row vaga-single mt-1">
                            <div class="col-sm-8 titulo-vaga"><h5><%= vagas[i].titulo%><span>- <%= vagas[i].dataCriada%></span></h5></div>
                            <div class="col-sm-4">
                                <a href="/<%=vagas[i].slug+"/usuarioLog"%>">Detalhes</a>
                                <button class="deletar-vaga" id="<%=vagas[i].id%>"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </div> <!-- col-md-6 -->
                        </div><!-- row -->
    
                        <div class="janela-float <%=vagas[i].id%>" style="display: none;">
                            <div class="float-box">
                                <h4>Deseja realmente excluir essa vaga?</h4>
                                <% let nameImage = vagas[i].imagem.split('/') %>
                                <a href="/deletar/vaga/<%=vagas[i].id +"/"+nameImage[5]%>" id="btn-excluir">Excluir</a>   <button class="btn-cancelar">Cancelar</button>
                            </div>
                        </div>
                        <% } %>
                    <% } else { %>
                    <p>Nenhuma vaga disponível.</p>
                    <% } %>

                </div><!-- container-site -->

            </section><!-- vagas-cadastradas -->

        </div><!-- box-content-painel -->
    </div><!-- content-painel -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../public/js/transition_menu_admin.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="../public/js/modal-excluir-vaga.js"></script>
    <script src="../public/js/menu-painel.js"></script>
</body>
</html>

